.login-dark {
  height: 150vh;
  background: #475d62 url(../../assets/img/star-sky.jpg);
  background-size: cover;
  position: relative;
}

.login-dark form {
  max-width: 320px;
  width: 90%;
  background-color: #1e2833;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .illustration {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: #2980ef;
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .btn-primary {
  background: #b1c6e100;
  border: none;
  padding: 0px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background: #214a8000;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}

.centered{
  width: fit-content;
  background-color: #1e2833;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

.days_left{
  width: fit-content;
  aspect-ratio: 1;
  height: width;
  padding-top: 30px;
  background-color: #1e2833;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 70px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 20%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}



.selections{
  width: 200px;
  height: 30px;
  background: #2980ef;
  border: 1px;
  border-color: mediumblue;
  border-bottom: 1px solid #434a52;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.centered_only{
  width: fit-content;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
}

.left_of_plot{
  width: fit-content;
  height: fit-content;
  padding-bottom: 100px;
  background-color: #1e2833;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 4px;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

.plot{
  width: fit-content;
  background-color: #1e2833;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 4px;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}