<div class="col" style="padding-bottom: 5px;padding-top: 5px;width:fit-content;">
    <div class="text-center" style="padding: 5px;width: 220px;height: 240px;background: rgb(30,52,77);border-radius: 15px;">
        <i class="fa fa-calendar" style="padding: 10px;"></i>
        <h1 style="font-size: 25px;padding: 5px 10px;"><%= header %></h1>
        <p style="color: rgba(255,255,255,0.45);font-size: 13px;padding: 0px 10px;height: 79px;"><br><%= description %><br><br></p>
        <a href=<%=link%> style="font-size: 15px;">Go &gt;&gt;</a>
    </div>
</div>