<div>
    <small style="padding: 10px;width: 12px;font-size: medium;"><%= title %></small>
</div>
<div style="padding: 10px;">
    <input class="form-control" type="text" style="color: white;font-size: 21px;text-align: left;background: rgb(46,65,102);border-radius: 7px;border-width: 0px;box-shadow: inset -2px -2px rgba(8,20,50,0.83);filter: contrast(101%);width: 313px;transform: perspective(0px);" required="" id=<%inputnum%>>
</div>