<nav class="navbar navbar-light navbar-expand-md fixed-top" style="background: #1e2833;border-bottom: 1px solid rgb(255,255,255);font-size: 24px;">
    <div class="container-fluid"><a class="navbar-brand" href="/dashboard" style="color: rgba(255,255,255,0.9);font-size: min(25px, 5vh);">Energy Live 2022</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" id="profile_button" href="/profile" style="color: rgba(255,255,255,0.9);font-size: min(15px, 3vh);"><%= email %></a></li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" id="logout_button" href="/sessionLogout" style="color: rgba(255,255,255,0.9);font-size: min(25px, 5vh);">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>